@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity : 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity : 0;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity : 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity : 0;}
}

@keyframes pulse {
  0% {background: #fcb1b1;}
  33% {background: #e7e486;}
  66% {background: #9bcdff;}
  100% {background: #fcb1b1;}
}

@-webkit-keyframes pulse {
  0% {background: #fcb1b1;}
  33% {background: #e7e486;}
  66% {background: #9bcdff;}
  100% {background: #fcb1b1;}
}
