@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity : 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity : 0;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity : 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity : 0;}
}

@keyframes pulse {
  0% {background: #a0d2eb;}
  25% {background: #ffa8b6;}
  50% {background: #d0bdf4;}
  75% {background: #fff4b7;}
}

@keyframes progress {
  0% {width: 0%;}
  100% {width: 100%;}
}

/* @keyframes ch0 {
  0% {background: #e6b6c3;}
  100% {background: #a0d2eb;}
}

@keyframes ch1 {
  0% {background:#a0d2eb; }
  100% {background: #ffa8b6;}
} */