#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}

.buttonList{
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  background-color: whitesmoke;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.buttonList:hover{
  opacity: 75%;
}

.status{
  display: block;
  width: 100%;
  margin: 20px 0;
  border: none;
  border-radius: 20px;
  background-color: whitesmoke;
}

.statusBar{
  display: block;
  width: 100%;
  padding: 3px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #75ffed, #809fff, #d189f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #75ffed, #809fff, #d189f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
