#result {
    display: none;
    background-color: whitesmoke;
    width: 95%;
    text-align: center;
    border-radius: 20px;  
}

#shareResult{
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 20px;  
}

.color{
    width: 100%;
}

.resultName{
    line-height: 30px;
    font-size: 20px;
}

.resultDesc{
    line-height: 30px;
    text-align: justify;
}

.resultPair{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#goodPair{
    height: 150px;
}

#badPair{
    height: 150px;
}

button {
    border: none;
    padding: 0;
}

