#result {
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;  
}

.color{
    width: 100%;
}

.resultName{
    line-height: 50px;
}

.resultDesc{
    line-height: 30px;
    text-align: justify;
}